<label>Email:</label><input type="email" size=30 maxlength="40" id="email"><br>
<label>Nombre:</label><input type="text" size=30 maxlength="40" id="nombre"><br>
<label>Apellido 1:</label><input type="text" size=30 maxlength="40" id="apellido1"><br>
<label>Apellido 2:</label><input type="text" size=30 maxlength="40" id="apellido2"><br>
<label>Telefono:</label><input type="email" size=30 maxlength="40" id="telefono"><br>


<label>Password:</label><input type="password" size=30 maxlength="40" id="pw1"><br>
<label>Confirma password:</label><input type="password" size=30 maxlength="40" id="pw2"><br>

<p>
	<label for="selectCCAA">Comunidad Autonoma:</label>
	<select id="selectCCAA" onchange="cargarProvincias()">
	<option></option>
	</select>
	
</p>
<p>
	<label for="selectProvincias">Provincia:</label>
	<select id="selectProvincias" onchange="cargarMunicipios()"></select>
</p>
<p>
	<label for="selectMunicipios">Municipio:</label>
	<select id="selectMunicipios"></select>
</p>

<script>

	function registrar(){
		var request=new XMLHttpRequest();
		request.open("POST","Register.action");
		request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		request.onreadystatechange=function(){
			if(request.readyState==4) {
				if (request.status==200){
					var respuesta=request.responseText;
					respuesta=JSON.parse(respuesta);
					alert(respuesta.resultado);
				}
				else{
					alert("Error: " + request.statusText);
				}
			}
		};
		var pars="email=" + document.getElementById("email").value + 
			"&nombre=" + document.getElementById("nombre").value +
			"&apellido1=" + document.getElementById("apellido1").value +
			"&apellido2=" + document.getElementById("apellido2").value +
			"&telefono=" + document.getElementById("telefono").value +
			"&pwd1=" + document.getElementById("pw1").value +
			"&pwd2=" + document.getElementById("pw2").value +
			"&ubicacion=" + document.getElementById("selectMunicipios").value;
		request.send(pars);
	}

	function cargarMunicipios(){
		var request=new XMLHttpRequest();
		request.open("POST","cargarMunicipios.jsp");
		request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		request.onreadystatechange=function(){
			if(request.readyState==4) {
				if (request.status==200){
					var respuesta=JSON.parse(request.responseText);
					var select=document.getElementById("selectMunicipios");
					select.innerHTML="";
					for (var i=0;i<respuesta.length;i++){
						var option=document.createElement("option");
						option.setAttribute("value", respuesta[i].id);
						option.innerHTML=respuesta[i].nombre;
						select.appendChild(option);
					}
				}
				else{
					alert("Error: " + request.statusText);
				}
			}
		};
		var selectProvincias=document.getElementById("selectProvincias");
		var pars="provincia=" + selectProvincias.value;
		request.send(pars);
	}
	function cargarProvincias(){
		var request=new XMLHttpRequest();
		request.open("POST","cargarProvincias.jsp");
		request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		request.onreadystatechange=function(){
			if(request.readyState==4) {
				if (request.status==200){
					var respuesta=JSON.parse(request.responseText);
					var select=document.getElementById("selectProvincias");
					select.innerHTML="";
					for (var i=0;i<respuesta.length;i++){
						var option=document.createElement("option");
						option.setAttribute("value", respuesta[i].id);
						option.innerHTML=respuesta[i].nombre;
						select.appendChild(option);
					}
				}
				else{
					alert("Error: " + request.statusText);
				}
			}
		};
		var selectCCAA=document.getElementById("selectCCAA");
		var pars="comunidad=" + selectCCAA.value;
		request.send(pars);
	}

	var request=new XMLHttpRequest();
	request.open("GET","cargarCCAA.jsp");
	request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	request.onreadystatechange=function(){
		if(request.readyState==4) {
			if (request.status==200){
				var respuesta=JSON.parse(request.responseText);
				var select=document.getElementById("selectCCAA");
				for (var i=0;i<respuesta.length;i++){
					var option=document.createElement("option");
					option.setAttribute("value", respuesta[i].id);
					option.innerHTML=respuesta[i].nombre;
					select.appendChild(option);
				}
			}
			else{
				alert("Error: " + request.statusText);
			}
		}
	};
	request.send();

</script>

<button type="button" onclick="registrar()">Crear cuenta</button>