<script>
$("#login").click(function(){
	$("#datosPersonales").load("FormDPLogin.html");
})

$("#crearCuenta").click(function(){
	$("#datosPersonales").load("FormDPRegistro.html");
})
</script>

<label id="login">Login</label>
<label id="crearCuenta">Crear cuenta</label>