<label>email:</label><input type="email" size=30 maxlength="40" id="email"><br>
<label>password:</label><input type="password" size=30 maxlength="40" id="password"><br>
<button type="button"onclick="identificar()">Entrar</button>

<script>
function identificar(){
	var request=new XMLHttpRequest();
	request.open("POST","Identificar.action");
	request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	request.onreadystatechange=function(){
		if(request.readyState==4) { //ESTADO DE LA PETICION
			if (request.status==200){ //ESTADO DEL SERVIDOR
				var respuesta=request.responseText;
				respuesta=JSON.parse(respuesta);
				if(respuesta.resultado=="OK"){					
					sessionStorage.setItem("email",document.getElementById("email").value);
					$("#datosPersonales").load("FormDPSesion.html");
				}
				else{
					alert(respuesta.resultado);
				}
				
			}
			else{
				alert("Error: " + request.statusText);
			}
		}
	};
	var pars="email=" + document.getElementById("email").value + 
		"&pwd=" + document.getElementById("password").value;
	request.send(pars);
}
</script>